<div class="container">
  <form #f="ngForm" autocomplete="off">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="tipos" #tipo></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy"
        [inline]="false" [readonlyInput]="true" name="vencimento"
        [showIcon]="true" ngModel #vencimento="ngModel" required></p-calendar>

        <!---<app-message [control]="vencimento" error="required"
          text="Informe uma data de vencimento"></app-message>-->

      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy"
        [showIcon]="true"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" ngModel required minlength="5" #descricao="ngModel">
       <!-- <app-message [control]="descricao" error="required" text="Informe uma descrição"></app-message>
        <app-message [control]="descricao" error="minlength" text="Informe um mínimo de {{descricao.errors?.minlength?.requiredLength}} caracteres"></app-message>-->
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" placeholder="0,00" currencyMask ngModel name="valor"
         [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
         ngModel required>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" placeholder="Selecione" [autoWidth]="false" #categoria name="categoria" ngModel required></p-dropdown>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" placeholder="Selecione" [autoWidth]="false" [filter]="true" #pessoa name="pessoa" ngModel required></p-dropdown>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3" name="observacao" ngModel></textarea>
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"></button>
        <a class="link" href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>
